@import "variables";
@import "mixins";



.GrayBackground {
  background:#f7f7f7;
  padding:10px 0px;
}

.CategoryLinkSection {
  background:#f7f7f7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding:10px;
  
  @media screen and (max-width:992px) {
    margin:20px 0px;  
  }
}

.ContentHeader h1 {
  margin:15px 0px 0px 0px;
}

h2 {
  color: #979797;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

.categoryLink {
  background:white;
  border:1px solid #dcdcdc;
  padding: 5px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-top:10px;
}

.BlogPostContent {
  background:white;
}

.CategorizedHeaders {
  margin:0px 0px 20px 0px;
}

.detailBlogInfo {
  background:#f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}


.detailSection {
  float:left;   
  color:#000;   
       
  @media screen and (max-width:992px) {
    float:none;
    margin-bottom:10px;
    margin-right:0px;
  }
       
       
  i {
    margin-right:5px;  
    color: #337ab7;
        
    @media screen and (max-width:992px) {
      margin-right:10px; 
    }    
  }
}
  
.bullet {
  float:left;
  margin: -4px 7px 0px 7px;
  font-size: 20px;
}

.postSingle {
  
  padding-bottom:15px;
  margin-bottom:10px;
  border-bottom: 1px solid #e8e8e8;
 
 
 
  
  .blogName {
    color: #787878;
    padding: 0px 10px 10px 0px;
    font-size: 20px;
    font-weight: bold;
  }
  

  
  
  
  .image {
    position:relative;
    
    img {
      border-top-left-radius:5px;  
      -webkit-border-top-left-radius:5px;  
      -moz-border-top-left-radius:5px;  
      border-top-right-radius:5px;  
      -webkit-border-top-right-radius:5px;  
      -moz-border-top-right-radius:5px;  
    }
    
   
  
  
    .blogDetailSeciton {
      
    }

  
  
  
  }
  
    .readMore {
    margin-top:5px;  
  }
  
  .postDetails {
    padding:5px 0px 0px 0px; 
  }

}    

.desktopCategory {
  display:block;
  @media screen and (max-width:992px) {
    display:none
  }
}

.mobileCategoryLinks {
  display:none;
  
  select {
    width:100%;
    padding:5px;
  }
  
  @media screen and (max-width:992px) {
    display:block;
    
  }
}    


.categoryLinks {
    margin-top: 10px;
    
    .link {
      border: 1px solid #dcdcdc;
      border-radius: 19px;
      -webkit-border-radius: 19px;
      -moz-border-radius: 19px;
      -ms-border-radius: 19px;
      -o-border-radius: 19px;
      float: left;
      padding: 3px 7px;
      margin-right:5px;
    }
    
    a:link {
      font-size:12px;
    }
  }

.details {
  margin-bottom: 15px;
  
  .SectionDetail {
    margin-bottom:5px;
    float:left;
    
    @media screen and (max-width:992px) {
       float:none;
    }
    
  }  
  
  .text {
    color: #979797;
    font-size: 14px;
    margin-top: 3px;
    float: left;
    display:none;
    
    @media screen and (max-width:992px) {
       display:block;
    }
    
  }
    .icon {
      color: #337ab7;
      margin-right:5px;
    }
    
    span {
      color: #979797;
      margin-right:10px;
    }
  }


.commentsHeader {
  font-size: 54px;
  margin: 0px 0px 10px 0px;
  color: #838383;
}

.facebookShare {
  background:#395a97;
} 
.twitterShare {
  background:#60caef;

}

.facebookShare, .twitterShare {
  width: 35px;
  height: 35px;
  @include border-radius(19px);
  overflow: hidden;
  float:left;
  margin-right:5px;
}
.facebookShare {
  img {
    margin-top:2px;
    margin-left:1px;
    
  }
}

.twitterShare  {
  img {
  margin-top: 4px;
  margin-left: 4px;
  }
}


.detailContent {
  color:#9c9c9c;
  i {
    margin-right:5px; 
  }
}

.detailContainer {
  @include border-radius(19px);
  padding: 5px 3px 6px 0px;
  margin-right:5px;
  
  .icon {
      color: white;
      margin-right:5px;
    }
    
    span {
      color: white;
      margin-right:10px;
    }
  
}
    
.postDetailCirlce {
  background: #337ab7;
  color:white;
  float:left;
  float: left;
  border-radius: 15px;
  padding: 3px 8px;
  height: 30px;
  width: 30px;
  margin-right:5px;
}

.CommentSingleElement {
  margin-bottom:20px;
}
.commentIndicator {
  background:white;
  padding:10px;
  position:relative;
  
  
  .carot {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid #fff;
    right: 10px;
    margin-top: 6px;
    
  }
}

.submitCommentBox {
  background:white;
  padding:10px;
  margin-bottom:20px;
  
  .header {
    font-size:24px;
    color:#838383;
    margin-bottom:10px;
  }
  
}

.commentByDetails {
  text-align:right;
  margin-top:16px;
}


#BlogPreviewImage {
  height:550px;
  position:relative;
  background-size: cover !important;
  
  @media screen and (max-width:992px) {
    height:350px;
  }
  
  .BlogDetails {
    position:absolute;
    background: rgba(0, 0, 0, 0.62);
    bottom:0px;
    width: 100%;
    
    .content {
      padding:10px 0px;
      
      .text {
        color:white;  
        font-size: 24px;
        font-weight: bold;
      }
      
      
    }
    
  }
}

.blogPreviewText {
  color:black;
}

