@import "variables";
@import "mixins";

body.checkoutPage {
  background:#e7e7e7;
}

#CheckoutPage {
  margin-top:25px;
  padding-bottom: 50px;
  
  .whiteBoxContent {
    background:white;
    padding:10px;
    box-shadow: 0px 1px 7px #ababab;
    -webkit-box-shadow: 0px 1px 7px #ababab;
    -moz-box-shadow: 0px 1px 7px #ababab;
    
    
    h1 {
      margin:10px 0px;
      font-weight:bold;
    }
    
    h2 {
      color:#c8c8c8;
      margin: 0px 0px 15px 0px; 
    }
    
    .optionButtons {
      margin:10px 0px;
      
      input[type='radio'] {
        float:left; 
        margin:4px 4px 0px 0px;
      }
      
    }
    
    .CheckboxOptions {
      margin:0px 0px 10px 0px;
      
      .checkboxElement {
        border: 1px solid #e8e8e8;
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
      }
      
      input {
        float:left; 
        margin:4px 4px 0px 0px;
      }
    }
    
    .inputItem {
      margin-bottom:10px;
      .inputLabel {
        margin-bottom:5px;
      }
      
      input[type='text'] {
        width: 100%;
        padding: 5px 2px 5px 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #cecece;
      }
      
      select {
        padding: 6px;
        width:100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
      }
      
    }    
    
  }  
}


.CartItemSingle {
  border:1px solid #dcdcdc;
  padding: 10px;
  margin-bottom:15px;
  display: table;
  width: 100%;
  
  .ProductImage {
    display: table-cell;
    width:150px;
    margin-right:15px;
    
    @media screen and (max-width:992px) {
      display:none;
    }
    
    img {
      width:100%
    }
  }
  
  .ProductInfo {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    
    @media screen and (max-width:992px) {
      padding-left: 0px;
    }
    
    .name {
      font-weight:bold;
      font-size:24px;
      
      @media screen and (max-width:992px) {
        font-size:20px;
      }
      
    }
    
    .price {
      color: #1b9000;
      font-weight:bold;
    }
    
  }
  
  .itemTotalPrice {
    display: table-cell;
    color: #1b9000;
    font-weight:bold;
    font-size:24px;
    text-align: right;
    vertical-align: middle;
    
    @media screen and (max-width:992px) {
      font-size:20px;
    }
    
  }
  
}

.CheckoutCartSingleItem {
  display: table;
  width: 100%;
  border-bottom: 1px solid #cacaca;
  padding-bottom: 10px;
  margin-bottom:10px;
  
  .CheckoutProductInfo {
    display: table-cell;
    vertical-align: middle;
    
    .name {
      font-weight:bold;
      font-size:24px;
    }
    
    .price {
      color: #1b9000;
      font-weight:bold;
    }
    
  }  
  
  .itemTotalPrice {
    display: table-cell;
    color: #1b9000;
    font-weight:bold;
    font-size:24px;
    text-align: right;
    vertical-align: middle;
  }
}


#CartTotal {
  color: #1b9000;
  font-weight:bold;
  font-size:30px;
}

.CheckOutButton {
  margin-top:20px;
  color: white;
  text-align: center;
  
  float:right;
  border: none;
}

.deleteCartItem {
  background:url('../images/DeleteCartItem.png') no-repeat center;
  width: 15px;
  height: 15px;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  
  @media screen and (max-width:992px) {
    margin-top: 5px;
  }
  
}
.errorMessageText {
  color:#c30000
}

.cartSummaryTotals {
  float: right;
  td {
    font-weight:bold;
    vertical-align:bottom;
  }
  
  .Number {
    font-size: 24px;
    padding-left: 10px;
    text-align:right;
  }
}

.checkoutButton {
  border: none;  
}

#CheckoutCartSummary {
  .checkoutHeader {
    display:none;
    @media screen and (max-width:992px) {
      display:block;
      font-size: 20px;
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #cacaca;
      position:relative;
    }
    
    i {
      position:absolute;
      right:10px;
      top:15px;
    }
    
  }
  
  @media screen and (max-width:992px) {
    background:white;
    position:fixed;
    left: 15px;
    right: 15px;
    bottom: 0px;
    box-shadow: 0px 1px 7px #ababab;
    -webkit-box-shadow: 0px 1px 7px #ababab;
    -moz-box-shadow: 0px 1px 7px #ababab;
    border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    z-index: 9;
  }
  
  .col-md-12 {
    @media screen and (max-width:992px) {
      padding-left:30px;
      padding-right:30px; 
    }
  }
  
  .mobileCartSummary {
    @media screen and (max-width:992px) {
      overflow-y: auto;
      overflow-x: hidden;
      position: absolute;
      top: 50px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }
}

.MobileCartSummaryOpen {
  top:90px;
}

.productItemSingle {
  position:relative;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  
  .productImage {
    height:370px;
    width: 100%;
    background-size: cover !important;
    border:1px solid #eaeaea;
    box-shadow: 0px 3px 1px #cecece;
    -webkit-box-shadow: 0px 3px 1px #cecece;
    -moz-box-shadow: 0px 3px 1px #cecece;
  }
  
  .priceSingle {
    position:absolute;
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    left: 1px;
    top: 20px;
    font-weight: bold;
    color: white;
  }
  
  .productName {
    background: rgba(0, 0, 0, 0.41);
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 1px;
    text-align: center;
    padding: 10px;
    left: 1px;
    right: 1px;
  }
  
  .HarleyPrice {
    background:$harleyColor;
  }
  
}

.cartDivider {
  border-bottom:1px solid #c6c6c6;
  margin-top:10px;
}

.suggestiveSellingHeader {
  
}

.FeaturedProductsContainer {
  background:#f7f7f7;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding:10px;
  margin-top:35px;
  
  .header {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
    color: #979797;
  }
}

.featuredProducts {
  margin-top:15px;
  padding: 0px 45px;
}

