@import "variables";
@import "mixins";


.ChatBoxHeader {
  background:#f7f7f7; padding:10px 0px;
  
  .imgContainer {
    padding:0px 10px;
    
    img {
      width: 170px;
    }
  }
}

h1 {
  font-weight:bold;
  font-size:24px;
  margin-top: 10px;
}

.startChatButton {
  width:100%
}

.welcomeMessage {
  border: 1px solid #cecece;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  text-align:center;
  margin-bottom:10px;
}

.newMessageTextBoxContainer {
  position:fixed; 
  bottom:0px; 
  left:0px; 
  right:0px;
  background:#f7f7f7;
  padding: 15px 10px 10px 10px;
  
  textarea {
    width:100%; 
    max-width: 100%; 
    min-width:100%;  
    min-height:100px; 
    max-height:100px
  }
}

#ChatMessageContainer {
  position:fixed;
  bottom:175px;
  top: 105px;
  padding:0px 15px;
  left: 0px;
  right: 0px; 
  overflow: auto;
}

#messagesLogged {
  max-width: 1170px;
  margin: 0 auto;
}

.motorsportchat {
  .msgBubbleDillonSalesMan {
    background:#c30000;
    color:white; 
  }
}

.harleychat {
  .msgBubbleDillonSalesMan {
    background:#ff6c00;
    color:white; 
  }
}

.msgBubbleDillonSalesMan {
  float:left;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.msgBubbleCustomer {
  background:#f7f7f7;
  float:right;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border:1px solid #dadada;
}

.salesmanProfilePic {
  height: 70px;
  width: 70px;
  background-size: cover !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}


