@import "variables";
@import "mixins";

.tabbedContent {
  border-bottom:1px solid #c1c1c1;
  border-left:1px solid #c1c1c1;
  border-right:1px solid #c1c1c1;
  padding: 0px 15px 15px 15px;
}

.StoreTabInfo {
  margin-bottom:20px;
  
  @media screen and (max-width:992px) {
    
  }
  
}

.desktopPhone {
  display:block;
  @media screen and (max-width:992px) {
   display:none; 
  }
}



.mobilePhone {
  display:none;
  
  @media screen and (max-width:992px) {
    display:block;  
  }
}

.subTabs {
    border-bottom:1px solid #c1c1c1;
    margin-top: 20px;
    
    .tab {
      float:left;
      padding: 15px;
      position:relative;
      color:black;
      font-size: 16px;
      border-top:1px solid white;
      border-left:1px solid white;
      border-right:1px solid white;
      
      .tabSelected {
        height:3px; 
        position:absolute; left:0px; right:0px;
        top:0px;
        display:none;
      }
     
      
      
    }
    
    .CurrentTabSelected {
        border-top:1px solid #c1c1c1;
        border-left:1px solid #c1c1c1;
        border-right:1px solid #c1c1c1;
        border-bottom:2px solid white;
        margin-bottom:-1px;
      }
      
    
  }
  
.MainContentArea {
  background: #f7f7f7;
  padding:20px 0px;
  
  .storeName {
    margin-bottom:5px;
  }
}

.contactDescriptionText {
  margin-top:15px;
}
 
.Indicator {
  height:3px;
  margin-bottom:15px;
}

#MotorsportHours {
  .storeSubHeader {
    color:$motorSportColor;
  }
}

#HarleyHours {
  .storeSubHeader {
    color:$harleyColor;
  }
}

#IndianHours {
  .storeSubHeader {
    color:$indianColor;
  }
}

.MotorSportTab  {
  background:$motorSportColor;
}

.HarleyTab {
  background:$harleyColor;
}

.IndianTab {
  background:$indianColor;
}      

.storeHeader {
  font-size:24px;
  margin: 5px 0px;
  color:black;
  
  .expandText {
    color:#3366cc;
    float:left;
    width:25px;
    text-align: center;
    font-weight:bold;
  }
}

.storeSubHeader {
  font-size:20px;
  margin:10px 0px;
}

table {
  td {
    &:first-child {
      padding-right:5px;
    }
  }
}

.hourElement {
  @media screen and (max-width:992px) {
    margin-bottom:5px;
  }
}

iframe {
  border: 10px solid #f7f7f7;
}

