@import "variables";
@import "mixins";

.ErrorPageContent {
  .TopPageContent {
    text-align:center;
    color: #979797;
    
    h1 {
      font-size: 40px;
      font-family: 'Oswald', sans-serif;
      font-weight: normal;
      margin: 0px 0px 10px 0px;
      color: #979797;
    }
   
    .DillonBrotherLogo {
      width: 270px;
    }
   
    
  }
  
  .StoreLocations {
    margin-top:20px;
    margin-bottom: 20px;
    
    .store {
      width: 33.33333333%;
      float:left;
      text-align:center;
      color: #979797;
      padding-left: 15px;
      padding-right: 15px;
      
      
      @media screen and (max-width:680px) {
        float:none;
        width:100%;
        margin-bottom: 30px;
      }
      
      
      .NameElement {
        margin-bottom:10px;
      }
      
      
      .Name {
        color: #979797;
        font-size:24px;
      }
      
      .buttons {
        .buttonSingle {
          display:inline-block;
          margin:0px 5px;
          padding:10px 15px;
          color:white;
          border-radius:5px;
          transition: all .25s;
          
          @media screen and (max-width:1200px) {
            display: block;
            margin: 10px 0px;
          }
          
        }
      }
      
      .link {
        margin-top:15px;
      }
      
      
    }
    
    
    .MotorSport {
      background:#ff0000;
      
      &:hover {
        background: #ce0000;
      }
    }
    
    .Harley {
      background:#ff6c00;
      
      &:hover {
        background: #cc5600;
      }
    }
    
    .Indian {
      background:#850029;
      
      &:hover {
        background: #500019;
      }
    }
    
  }
  
  .storeDetails {
    margin-top:10px;
    padding-top:10px;
    text-align:left;
  }
  
  .storeDetails.MotorSportDetails {
    border-top:1px solid #ff0000;
    color:#ff0000;
  }
  
  .storeDetails.HarleyDetails {
    border-top:1px solid #ff6c00;
    color:#ff6c00;
  }
  
  .storeDetails.IndianDetails {
    border-top:1px solid #850029;
    color:#850029;
  }

  
  .StoreLocationHalf {
    width:50%;
    float:left;
    
    @media screen and (max-width:1200px) {
      width:100%;
      float:none;
      margin-bottom:10px;
    }
    
  }
  
  .phoneLabel {
    width:55px;
  }
  
  
}

