@import "variables";
@import "mixins";


#EventsMainPage {
    background: url(../images/EventsMainPage.jpg) no-repeat center;
    background-size: cover;
    padding: 170px 0px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.container {
  padding:0px 15px 15px 15px
}
.donloadPDFLink {
  background:white;
  border:1px dashed #adadad;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align:center;
  padding:15px 10px 10px 10px;
  font-size:24px;
  margin-top: 10px;
}

.emptyEvents {
  text-align: center;
    border: 1px dashed #cecece;
    padding: 15px;
}


.photosContainer {
  margin: 10px;
  
  .photoThumb {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    width:100px;
    height:100px;
    background-size: cover !important;
    border: 1px solid #c9c9c9;
    
    img {
      width:100%
    }
  }  
  
}

.eventSingle {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  border:1px solid #e8e8e8;
  box-shadow: 0px 2px 8px #cacaca;
  -webkit-box-shadow: 0px 2px 8px #cacaca;
  -moz-box-shadow: 0px 2px 8px #cacaca;
  overflow:hidden;
  
  .eventName {
    padding:10px;
    background: #f7f7f7;  
    color:black;
  }
  
  .DateOfEvent {
    padding:10px;
  }
  
  .buttonContianer {
    padding:0px 10px 10px 10px;
  }
  
  .imageContainer {
    height: 180px;
    overflow: hidden;
    
    img {
      @include opacity(0);
    }   
    
  }
}   

.EventDetailWrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 15px;
}

.CurrentSuperEventDates {
  color:#979797;
  font-size:24px;
  margin-top:0px;
}

.subDates {
  float:left; margin-right:10px;
}

.SubEventBackground {
  background:black;
}

.separator {
  float: left;
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  margin-top: 7px;
  margin-right: 10px;
}

.EventHtmlContent {
  .ColumnContent {
    margin:10px 0px; 
    

    .imageBorder {
      padding:10px; 
      background:white;
    }
    
  }
}

.relatedAlbumSingle {
  border:1px solid #e8e8e8;
  box-shadow:0px 2px 4px #b5b5b5;
  -webkit-box-shadow:0px 2px 4px #b5b5b5;
  -moz-box-shadow:0px 2px 4px #b5b5b5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  
  .relatedPhotoAlbum {
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-size: cover !important;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    
    img {
      @include opacity(0);
    }
   
    
  }
  
  .relatedAlbumtext {
    margin: 10px;
    font-size: 12px;
    text-align: center;
  }
  
}

.MainPhotoEvent {
  background:black;
  
  img {
    width:100%
  }
  
  
  .imgWrapper {
    max-width:900px;
    margin:0 auto;
    padding: 40px 0px;
    position: relative;
  
  }
  
} 



.relatedPhotoAlbumNoThumb {
  height: 170px;
  width: 100%;
  border-radius: 90px;
  overflow: hidden;
  background:#f7f7f7;
  box-shadow: 0px 1px 4px #bbb;
  border: 10px solid white;
  margin-bottom:10px;
  
  
}



.albumThumb {
  background-size:cover !important;
  width:100%;
  height:200px;
  box-shadow: 0px 1px 4px #bbb;
  border: 10px solid white;
  overflow: hidden;
  
  img {
    @include opacity(0);
  }
  
  
}

.viewAlbumText {
  margin:10px 0px;
  text-align:center;
}

.NoThumbNail {
  width: 100%;
  text-align: center;
  background: #f7f7f7;
  
  box-shadow: 0px 1px 4px #bbb;
  border: 10px solid white;
  
  img {
        padding: 56px 0px;
  }

}

#EventsCalendar {
  .fc-view-container {
    background:white;
    box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
  }
  
  .fc-event, .fc-event-dot {
    background-color: #3366cc;
    border:1px solid #3366cc;
      
    &:hover {
      background: #204ba2;
      border:1px solid #204ba2;
    }
  }
  
  
  h2 {
    color:white;
  }
}

