@import "variables";
@import "mixins";


.HomePage {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
  color: #979797;
}

.welcomeTextContent {
  color: #979797;
  margin:20px 0px 40px 0px;
}




.hideForMobileTr {
  
  @media screen and (max-width: 1100px) {
    display:none;
  }  
}

.showDesktop {
  display:block;
  
  @media screen and (max-width: 1100px) {
    display:none;
  }
}

.hideForMobilePhone {
  display:none;
  
  @media screen and (max-width: 1100px) {
    display:block;
  }  
}



.StoreQuickLinks {
  .storeDetailSingle {
    width: 33.33333333%;
    float:left;
    text-align:center;
    
    @media screen and (max-width: 1100px) {
      width: 100%;
      float:none;
    }
    
    
    &:hover .storeImage .overlayStore {
      opacity:1;
    }
   
    &:hover .storeImage .name {
      opacity:1;
    }
    
    
    .locationContact.MotorSportContactSection {
      background:$motorSportColor;
      
      @media screen and (max-width: 1100px) {
        
      }
      
    }
    
    .locationContact.HarleyContactSection {
      background:#ff6c00;
      border-left: 10px solid white;
      border-right: 10px solid white;  
      
      @media screen and (max-width: 1100px) {
        border-left: none;
        border-right: none;  
      }
      
    }
    
    .locationContact.IndianContactSection {
      background:#850029;
    }
    
    
    .locationContact {
      padding:10px;
      color:white;
      text-align:left;
      min-height: 120px;
      
      .phoneLabel {
        width:55px
      }
      
    }
    
    
    .storeImage {
      height: 340px;
      position: relative;
      
      @media screen and (max-width: 1100px) {
        height:250px
      }
      
      
      .websiteName {
        position:absolute;
        top: 0px;
        z-index: 1;
        width: 100%;
        background: rgba(0,0,0,0.33);
        padding:10px;
        
        a {
          color:white;
        }
        
      }
      
      
      
     
      
      .name {
        position: absolute;
        bottom: 20px;
        width: 100%;
        color:white;
        z-index: 1;
        opacity:0;
        transition:all .5s;
        
         @media screen and (max-width: 1100px) {
          opacity:1;
        }
        
      }
      
      
      
    }
    
    .buttons {
      padding: 15px 0px;
      background:#f7f7f7;
        
      .buttonSingle {
        display:inline-block;
        margin: 0px 5px;
        padding: 10px 15px;
        border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        transition: all .25s;
        
        @media screen and (max-width:680px) {
          display: block;
          margin: 10px 15px;
        }
        
        
      }
        
    }
    
    
    .branchName {
      font-size:24px;
      margin-bottom:10px;
    }
    
  }
}



.StoreContent {
  //position:fixed;
  
  @media screen and (max-width:1200px) {
    position: relative;
    height:500px;
  }
  
}

#DillonMotor {
  background:url('../images/DillonMotor.jpg') no-repeat center;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-size: cover;
  
  .overlayStore {
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;  
  }
}

#DillonHarley {
  background:url('../images/DillonHarley.jpg') no-repeat center;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-size: cover;
  border-left: 10px solid white;
  border-right: 10px solid white;  
  
  @media screen and (max-width: 1100px) {
    border-left: none;
    border-right: none;  
  }
  
  
  .overlayStore {
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;  
  }
  
}

#DillonIndian {
  background:url('../images/DillonIndian.jpg') no-repeat center;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-size: cover;
  
  .overlayStore {
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;  
  }
  
}


.FeaturedInventorySection {
  margin:30px 0px;
  
  
  @media screen and (max-width: 800px) {
    margin:30px 30px 40px 30px; 
  }
  
  
  .featuredInventory {
    padding:0px 45px;
    
    .featuredInventoryItem {
      padding:0px 10px;
      
      .image {
        width:100%;
        height:170px;
        background-size: cover !important;
        margin-bottom: 10px;
      }
      
      .bikeName {
        text-align:center;
      }
      
    }
  }
  
  .NoPhoto {
    background: url(../images/NoPhotoPlacement.png) no-repeat center;
    background-size: contain !important;
    height: 100px;
    width: 80px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -50px;
  }
   
}

.viewAllInventory {
  display: inline-block;
}

.featuredSpecialsEvents {
  
  .specialFeatures {
   
    
    
    
   
    
    
    .Text {
      float:left;
      width:50%;
      padding: 100px 0px;
      position:relative;
      background: #e6e6e6;
      
      @media screen and (max-width: 600px) {
        float:none;
        width:100%;
        padding: 50px 0px;
      }
      
    
      .caretRight {
        width: 0; 
        height: 0; 
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        
        border-left: 60px solid #e6e6e6;
        position: absolute;
        top: 50%;
        right: -20px;
        z-index: 1;
        margin-top: -60px;
        
        @media screen and (max-width: 600px) {
          display:none;
        }
        
      }
      
      .caretBottom {
        width: 0; 
        height: 0; 
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        position: absolute;  
        border-top: 60px solid #e6e6e6;
        bottom: -20px;
        left: 50%;
        margin-left: -60px;
        display:none;
        
         @media screen and (max-width: 600px) {
          display:block;
        }
        
      }
    
    }
    .image {
      float: left;
      width: 50%;
      position: absolute;
      top: 0px;
      left: 50%;
      right: 0px;
      bottom: 0px;
      
      @media screen and (max-width: 600px) {
       position:static;
        height:300px;       
       float:none;
       width:100%; 
      }
      
    }
    
    .specialImage {
      float: left;
      width: 50%;
      position: absolute;
      top: 0px;
      left: 50%;
      right: 0px;
      bottom: 0px;
      
      @media screen and (max-width: 600px) {
       position:static;
        height:300px;       
       float:none;
       width:100%; 
      }
    }
    
    
  }
}

.featureThird {
  width:33.33333333%;
  float:left;
  
  @media screen and (max-width: 1100px) {
    float:none;
    width:100%;
    border-top: 1px solid #cecece
  } 
}

.linkContainerBox {
  position:relative; 
  height: 329px;
  
  @media screen and (max-width: 1100px) {
    height: auto;
  }
  
}

.linkContainer {
  position:absolute; 
  background:black; 
  top:0px; 
  left:0px; 
  right:0px; 
  bottom:0px;
  
  @media screen and (max-width: 1100px) {
    position:static;
  }
  
  .imageContainer {
    padding:14% 0px;
    
    @media screen and (max-width: 1100px) {
      padding:0px;
    }
  }
  
}
    
.featureHalf {
  width:50%;
  float:left;
  
  @media screen and (max-width: 1100px) {
    float:none;
    width:100%;
    border-top: 1px solid #cecece
  }
}    

.featureFull {
  width:100%;
}
