@import "variables";
@import "mixins";

body.MainInventoryList {
  background-color: #f7f7f7;
  background-image: url(../images/n1.png);
}

.InventoryListContainer {
  background:white;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  box-shadow: 0px 0px 6px #a2a2a2;
  -webkit-box-shadow: 0px 0px 6px #a2a2a2;
  -moz-box-shadow: 0px 0px 6px #a2a2a2;
  
  .dividerContent {
    padding:10px;
  }
  
}


#InventoryList {
  padding-top: 35px;  
}

#SpecialSingleInventoryView {
  padding-top: 30px;
}

#toggleViewElement {
   @media (max-width: 992px) {
    display:none
   }
}

footer {
  @media screen and (max-width:992px) {
    padding-bottom: 60px;
  }
}


#InventoryList, #SpecialSingleInventoryView {
  
  
  .InventoryHeader {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #979797;
  }
  
  
  .FilterInventoryOptions {
    position:static;
    
    


    
    @media screen and (max-width:992px) {
      position:fixed;
      bottom: 0px;
      left: 15px;
      right: 15px;
      background: white;
      z-index: 99;
      box-shadow: 0px -2px 7px #c3c3c3;
      -webkit-box-shadow: 0px -2px 7px #c3c3c3;
      -moz-box-shadow: 0px -2px 7px #c3c3c3;
      border-top-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      padding-right: 0px;
      padding-left: 0px;
      overflow:hidden;
    }
    
    
    .filterOptionsHeader {
      display:none;
      text-align:center;
      background:red;
      font-size:24px;
      
      
      @media screen and (max-width:992px) {
        display:block;
      }
      
      a {
        color:white;  
      }
      
      .closeFilters {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      
      .text {
        padding:10px;  
      }
        
      
    }
    
    .FilterOptionsContent {
      border-bottom:1px solid #cecece;
      
      @media screen and (max-width:992px) {
        border-bottom:none;
        position: absolute;
        bottom: 10px;
        top: 150px;
        overflow-y: auto;
        overflow-x: hidden;
        left: 10px;
        right: 10px;
      }
      
    }
    
    
    .clearFilters {
      margin-bottom:10px;
      
      @media screen and (max-width:992px) {
       display:none; 
       margin: 15px 0px 10px 10px;
      }
    }
    
    
    
    
    
    .filterSection {
      
      border-top:1px solid #cecece;
      
      @media screen and (max-width:992px) {
        display:none;
        border-left:none;
        border-right:none;
        background: white;
      }
      
      
      .sectionHeader {
        font-weight:bold;
        position:relative;
        padding: 5px 0px;
        
        @media screen and (max-width:992px) {
          padding:10px;
        }
        
        &::after {
          content: '';
          position: absolute;
          width: 9px;
          height: 9px;
          background: transparent;
          top: 10px;
          right: 0px;
          border: 3px solid #000;
          border-top: none;
          border-right: none;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          
          @media screen and (max-width:992px) {
            right: 10px;
            top:50%;
            margin-top:-6px;
          }
          
        }
        
      }
      
      .sectionHeader.Active {
         &::after {
            top: 14px;
           -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg);
         }
      }
      
      .filterList {
        display:none;
        background:white;
        padding: 10px 0px;
        
        .line {
          margin-bottom:10px;
          
          &:last-child {
            margin-bottom:0px;
          }
          
          input[type="checkbox"] {
            display: none;
          }
          
          
          input[type="checkbox"]+label {
            font-weight: normal;
            padding: 7px 14px;
            font-size: 12px;
            cursor: pointer;
            border: 1px solid #ececec;
            margin-bottom: 0px;
            height: 27px;
            vertical-align: middle;
            margin-right: 6px;
            position: relative;
          }
          
          
          
          input[type="checkbox"]+label:after {
            content: '';
            width: 14px;
            height: 9px;
            position: absolute;
            top: 50%;
            left: 50%;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
            margin-left: -7px;
            margin-top: -6.5px;
        }
          
          input[type="checkbox"]:checked+label:after {
              opacity: 1;
          }
          
          
        }
        
      }
      
    }
    
    
    
    
  }
  
  .inventorySingleObjectTwoByTwo {
    width: 50%;
    
    @media (max-width: 992px) {
      width:100%;  
    } 
    
  }
  .inventorySingleObjectThreeByThree {
    //width:33.33333333%; 
    
    @media (max-width: 992px) {
      width:100%;  
    } 
  }
  
  .inventorySingleObjectTwoByTwo {
    float: left;
  }
  
  .inventorySingleObjectTwoByTwo, .inventorySingleObjectThreeByThree {
    
    
    @media (max-width: 992px) {
      float: none;
    } 
    
    .inventoryItem {
      border: 1px solid #eaeaea;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      margin-bottom:20px;
      box-shadow: 0px 3px 0px #bdbdbd;
      -webkit-box-shadow: 0px 3px 0px #bdbdbd;
      -moz-box-shadow: 0px 3px 0px #bdbdbd;
      overflow: hidden;
      position:relative;
      background:white;  
      margin: 0px 10px 20px 10px;
    }
    
    .row {
      margin-left: 0px; margin-right: 0px;
    }
    
    .MainInventoryPhoto {
      padding-left: 0px; padding-right: 0px; background:#f1fdff; position:relative;
      height:185px;
      
       @media (max-width: 992px) {
        height:auto;
      }
      
      img  {
        opacity:0;
        width:100%;
        
        @media (max-width: 992px) {
          opacity:1;
          max-width: 300px;
        }
        
      } 
      
      .inventoryPhotoSingle {
        position: absolute;
        bottom: 0px;
        top: 0px;
        left: 0px;
        right: 0px;
        background-size: contain !important;
        z-index: 9;
        
        @media (max-width: 992px) {
          background:none !important;
          text-align: center;
          position: relative;
        }
        
        
        
      }
      
      
    }
    
    .MainInventoryPhotoThirds {
      padding-left: 0px; padding-right: 0px; background:#eee; position:relative;
      
      .inventoryPhotoSingle {
        text-align:center; 
        
        img {
          position: relative;
          z-index: 1;
          width: 100%;
          max-width: 300px;
        }
      }
    }
    
    
    .inventoryTitle {
      font-size: 20px;
      padding: 10px;
      font-weight: bold;
      border-bottom: 1px solid #eaeaea;
    }
    
    
    
    
    .picture {
      width:100px;
      height:100px;
    }
    
    .NoPicture {
      background:url('../images/NoPhotoPlacement.png') no-repeat center;
      background-size: contain !important;
      height: 100px;
      width: 80px;
      margin: 0 auto;
      position:absolute;
      top: 50%;
      left: 50%;
      margin-left: -40px;
      margin-top: -50px;
      
      @media (max-width: 992px) {
      
      }
      
          
    }
    
    
    
    .MainPhotoThird {
      max-width:300px; margin:0 auto;
    }
    
    .DetailTable {
      margin:0px;
      
      .col-md-12 {
        padding:0px;
      }
      
      .detailLabel {
        width:100px
      }
      
    }
    
    
    .ViewDetailsButton {
      float:left; 
      padding:5px 10px;
      margin:5px;
      border-radius:5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      color:white;
    }
    
  }
  
  
  .FiterResultsSection {
    margin-bottom:15px;
    padding: 0px 0px 10px 0px;
    
    
  }
  
  .inventorySingleHeader {
    margin-bottom:15px;
    h1 {
      font-size:32px; font-weight:bold;  
      margin-bottom: 0px;
      margin-top: 0px;
    }
    
    
  }
  
  .inventoryPhotoMain {
    position:relative;
    background:#eee;
    overflow:hidden;
    min-height: 445px;
    width:100%;
    
    @media screen and (max-width:680px) {
      min-height: auto;
    }
    
    
    
    .OverlayText {
      background: rgba(255, 86, 86, 0.49);
      color: white;
      font-weight: bold;
      font-size: 30px;
      position: absolute;
      width: 100%;
      text-align: center;
      padding: 5px 0px;
      z-index: 99;
      bottom:0px;
    }
    
    img {
      width:100%
    }
    
    
  }
  
  .SellingPrice {
    font-size:32px;
    
    .price {
      color:#1b9000;
      font-weight:bold;
    }
  }
  
  .briefDescription {
    border-collapse:collapse; width:100%;
     border-bottom: 1px solid #d2d2d2;
    
    .MainLabel {
      font-weight:bold;
      width:140px;
    }
    
    td {
      border-top: 1px solid #d2d2d2;
      padding: 5px 0px;
      vertical-align: top;
    }
    
  }
  
  
  .facebookShare, .twitterShare, .pinButton {
    float:left; margin-right:10px;
  }
  
  .subTabs {
    border-bottom:1px solid #eaeaea;
    margin-top: 60px;
    
    .tab {
      float:left;
      padding: 0px 15px 15px 15px;
      position:relative;
      color:black;
      
      .tabSelected {
        height:3px; background:#3366cc;
        position:absolute; left:0px; right:0px;
        bottom:0px;
        display:none;
      }
    }
    
  }
  
  .SubTabContent {
    padding:10px;
    display:none;
    
    
   
   .specGroupText {
    font-size: 24px;
    padding-bottom: 10px;
   }
    
  }
  
  .LabelContent {
    font-weight:bold;
    padding: 5px 15px;
    background: #e7fbff;
    border-top: 1px solid #c0f5ff;
    margin-bottom: -9995px;
    padding-bottom: 9999px;
    width: 100%;
  }
  
  .SpecContent {
    padding: 5px 15px;
    border-top: 1px solid #c0f5ff;
  }
  
  .disclaimerContent {
    min-height:200px;
    background: #f7f7f7;
    padding-bottom:50px;
    
    .specDisclaimer {
      font-size: 14px;
      margin-bottom:20px;
      margin-top:10px;
    }
    
  }
  
  .ShoppingTools {
    margin-top:25px;
    
    .shoppingHeader {
      margin-bottom:10px;
      
      h3 {
        margin:0px;
        font-size:24px;
          
      }
      
      
      
    }
    
    .buttons {
      
      .MotorSportColor {
        background:#c30000;
        
        &:hover {
          background:#900404;
        }
      }
      
      .HarleyColor {
        background:#ff6c00;
        
        &:hover {
          background:#bd5000;
        }
      }
      
      .IndianColor {
        background:#850029;
        
        &:hover {
          background: #58041e;
        }
      }
      
      
      
      .button {
        display: inline-block;
        width: 90px;  
        margin-right:15px;
        vertical-align:top;
        margin-bottom: 15px;
        
        .icon {
          width: 95px;
          height: 95px;
          position:relative;
          background:white;
          
          &:hover {
            background:#f7f7f7;
          }
        }
        
        #GetQuoteMotorSport {background:url(../images/GetAQuoteMotorSport.png) no-repeat center;  height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #GetQuoteHarley {background:url(../images/GetAQuoteHarley.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px; }
        #GetQuoteIndian {background:url(../images/GetAQuoteIndian.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        
        #PaymentCalculatorMotorSport {background:url(../images/PaymentCalculatorMotorSport.png) no-repeat center;  height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #PaymentCalculatorHarley {background:url(../images/PaymentCalculatorHarley.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px; }
        #PaymentCalculatorIndian {background:url(../images/PaymentCalculatorIndian.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        
        #TradeValueMotorSport {background:url(../images/TradeValueMotorSport.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #TradeValueHarley {background:url(../images/TradeValueHarley.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #TradeValueIndian {background:url(../images/TradeValueIndian.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        
        #TestRideMotorSport {background:url(../images/ScheduleTestRideMotorsport.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #TestRideHarley {background:url(../images/ScheduleTestRideHarley.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #TestRideIndian {background:url(../images/ScheduleTestRideIndian.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        
        #FinancingMotorsport {background:url(../images/GetFinancingMotorsport.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #FinancingHarley {background:url(../images/GetFinancingHarley.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #FinancingIndian {background:url(../images/GetFinancingIndian.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        
        #ContactUsMotorsport {background:url(../images/ContactUsMotorsport.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #ContactUsHarley {background:url(../images/ContactUsHarley.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #ContactUsIndian {background:url(../images/ContactUsIndian.png) no-repeat center; height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        
        #InsuranceQuote {
          background:#c30000 url(../images/InsuranceQuote.png) no-repeat center; 
          height: 60px; 
          width: 60px;
          
          &:hover {
            background:#900404 url(../images/InsuranceQuote.png) no-repeat center; 
          }
          
        }
        
        #PrintMotorsport {background:url(../images/PrintMotorsport.png) no-repeat center;  height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #PrintHarley {background:url(../images/PrintHarley.png) no-repeat center;  height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        #PrintIndian {background:url(../images/PrintIndian.png) no-repeat center;  height: 60px; width: 60px; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;}
        
        
        .Text {
          text-align:center;
          margin-top: 5px;
          color:white;
        }
        
        
      }
      
      
      
    }
    
    
  }
          
          
  .OtherInventoryPhotos {
    float:left; 
    margin-right:10px;    
    width: 100px;
    margin-top: 10px;
    
    img {
      width:100%
    }
    
  }          
  
  
  .BikeSpecInfo {
    font-size:16px;
  }
  
  .soldOverlay {
    background: rgba(0, 0, 0, 0.49);
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    top: 0px;
  }
 
 
 .MSRPPriceList {
    font-size: 24px;
    color: #1b9000;
    font-weight: bold;
 }
  
  
  .RelatedInventorySection {
    margin-top:40px;
    border-top: 1px solid #eaeaea;
    padding-top: 20px;
    
    .RelatedInventoryHeader {
      margin-bottom: 15px;
      
      h4 {
        margin: 0px;
        font-size: 24px;
      }
    }
    
  }
  
  .relatedSingleElement {
    width:100%;
    
    
    .imageElement {
      position:relative;
      background: #eee; 
      height: 175px;
      overflow:hidden;
      
      @media screen and (max-width:680px) {
        height: auto;    
      }
      
      img {
        width:100%
      }
      
    }
    
    .text {
        margin-top:10px;
        font-size:16px;
        text-align:center;
        color: #c30000;
        
        @media screen and (max-width:680px) {
         margin-bottom: 20px;
         }
        
           
      }
    
  }
  
  
}

.DillonBrothersLogo {
      background: url(../images/NoPhotoPlacement.png) no-repeat center;
      background-size: cover !important;
      height: 140px;
      width: 140px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -70px;
      margin-top: -70px;
    }

.footerPush {
  height:0px;
}

.PrintWrapper {
  width:800px;
  margin:0 auto;
  
  .logoHeader {
    background:#f8f8f8;
    padding: 10px 15px;
    
    @media print {
      border:1px solid #cecece
    }
    
    img {
      width: 180px;
    }
    
  }
  h1 {
    margin:10px 0px;
    font-weight:bold;
  }
  
  .Content {
    margin-top:10px;
    .MainImage {
      float:left;
      width:490px;
      
      
      img {
        width:100%
      }  
    }
    .details {
      float:right;
      width: 290px;
      
      h2 {
        font-weight:normal;
        font-size:14px;
        margin:0px;
      }
      
      .price {
        font-weight:bold;
        font-size:32px;
      }
      
    }
    
    
  }
  
  
  .briefDescription {
    border-collapse:collapse;
    
    .MainLabel {
      font-weight:bold;
          padding-right: 10px;
    }
    td {
      font-size:14px;
          border-top: 1px solid #eaeaea;
      padding: 3px 0px;
      vertical-align: top;
    }
  }
  
  
  .SectionHeader {
    background: #f8f8f8;
    padding:5px;
    
    @media print {
      border:1px solid #cecece
    }
    
    h2 {
      font-weight:normal;
      margin:0px;
      font-size: 24px;
    }
  }
  
  .specGroupHeader {
    margin-bottom:10px;
        font-weight: bold;
  }
  
}

.PrintButton {
  position: fixed;
  left: 30px;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-bottom-right-radius:5px;
  padding: 0px 5px;
  
   @media print {
    display:none;
   }
  
}

.tooltip.bottom {
  @media print {
    display:none !important;
   }
}

#EmailFriendForm {
  
  
  .SendEmail {
    border:1px solid #18ad00;
    color:#18ad00;
    background:white;
    padding: 10px 30px;
    border-radius: 50px;
  }
  
}

.printSpecLabel {
  float:left; width:110px; padding-right:10px; color: #56b0ff;font-size: 14px;
}

.priceContainer {
  margin-bottom:10px; clear: both;
  
  @media screen and (max-width:991px) {
      margin-top:10px;
  }
  
  
}


.disclaimer {
  font-size:12px; padding:10px 0px;
}


.TwoByTwo, .ThreeByThree {
  float:left;
  
}

.ThreeByThree {
  margin-left:10px;
}

.TwoByTwo {
  .toggleBox {
    width:15px;
    height:15px;
  }  
  
  .spacing {
    margin-bottom:3px;
  }
}

.ThreeByThree {
  .toggleBox {
    width:9px;
    height:9px;
  }  
  
  .spacing {
    margin-bottom:3px;
  }
}

.toggleBox {
  background:#cacaca;
  float:left;
}

.SelectedList {
  .toggleBox {
  background:black;
  }
}

.CarDetailInfo {
  margin:10px 0px;
  min-height: 165px;
  
  td {
    vertical-align:top;
  }
}

.OverlayTextList {
  background: rgba(255, 86, 86, 0.49);
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
  bottom: 10px;
  border-radius: 5px;
  -wekbit-radius: 5px;
  -moz-radius: 5px;  
  margin-top: 10px;  
  
}

.OverlayTextListThirds {
  background: rgba(255, 86, 86, 0.49);
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
  right: 0px;
  width: 100%;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  margin-top: 10px;
}

.inventorySpecialHeader {
  font-size: 30px;
  color: #6f6f6f;
  margin-bottom: 10px;
}

.specialSingleElement {
  margin-bottom:15px;
  background: #fdfdfd;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  position:relative;
  
  .relatedItemRow {
    margin-bottom: 5px;
    position:relative;
    
    .divider {
      border-top:1px solid #e4e4e4;
      position:absolute; left:0px; right:0px;
      top: 16px;
    }      
  }
  
  .relatedItemDescription {
    margin-bottom:10px;
  }
  
  .insideContent {
    background: white;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    
    h2 {
      font-size: 20px;
      margin-bottom:0px;
      margin-top:0px;
      color: #6f6f6f;
      font-weight:bold;
    }
    
    .IncentiveValue {
      background: #379fff;
      position: relative;
      color: white;
      padding:5px 10px 5px 25px;
      margin-left: -25px;
      float: left;
      
      .carrotTop {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 16px solid #379fff;
        right: -15px;
        bottom: 0px;
      }
      
      .carrotBottom {
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 16px solid #379fff;
        right: -15px;
        top: 0px;
      }
      
      
    }
    
    .ExpiredDate {
      float:right;
      padding: 5px 10px 5px 10px;
      position:relative;
      z-index: 9;
      background:white;
      border:1px solid #379fff;
      color:#379fff;
      margin-right: -22px;
      border-radius:5px;
    }
      
    
   
    
  }
  
  
}

.HalfItem {
  width:50%;
  float:left;
}

#BikeSpecsContent {


  
}

.SoldOutText {
  background: rgba(0, 0, 0, 0.49);
  color: white;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  z-index: 99;
  top:0px;
}
    




.SortingDropDown {
  
  @media screen and (max-width:992px) {
   margin-top:10px; 
  }
  
  select {
    padding:5px;
  }
}

.mobileFilersOpen {
  top:130px;
}

.resultNumber {
  font-size:24px;
  padding: 5px 0px 0px 0px;
  display:block;
  
  @media screen and (max-width:992px) {
    display:none; 
    padding: 5px 0px 0px 10px;
  }
  
}

.MainInventoryRow {
  background:#f7f7f7;
  padding:20px 0px 30px 0px;
}


.ShoppingLinksContainer {
  padding:20px 0px;
  
  h3 {
    color:white;
    margin: 0px;
    font-size: 24px;
  }
}
    
.quickInventorySearch {
  width: 100%;
  padding: 5px 2px;
  border-radius: 4px;
  border: 1px solid #cecece;
}    

.SpecRow {
  
   @media screen and (max-width:992px) {
    clear:both;
    width:100%;
  }
  
}

#DesktopFilterContent {
  display:block;
  @media screen and (max-width:992px) {
    background:none;
    box-shadow:none;
    margin-top: -20px;
  }
}

#ShoppingToolPopupForm {
  
  .headerContent.MotorSport {
    background:#c30000;
  }
  
  .headerContent.Harley {
    background:#ff6c00;
  }
  
  .headerContent.Indian {
    background:#850029;
  }
  
  .headerContent {
    padding:20px 0px;
    color:white;
    margin-bottom: 15px;
    
    h1 {
      font-weight:bold; 
      margin:0px 0px 5px 0px;
      color:white;
    } 
  }
  
  .loanAmount {
    font-size: 32px;
    color: #1b9000;
    font-weight: bold;
  }
  
  .finalPaymentNumber {
    font-size: 24px;
    color: #1b9000;
    font-weight: bold;
    line-height: 25px;
  }
  
  select {
    padding:5px;
    width:100%
  }
  h2 {
    font-size:24px;
    margin: 20px 0px;
    color: #979797;
    
    @media screen and (max-width:650px) {
      margin: 20px 0px 10px 0px;
    }
    
  }
  
  .loanNumber {
    width: 33.33333333%;
    float:left;
    
    @media screen and (max-width:650px) {
      float:none;
      width:100%;
      margin-top: 10px;
    }
    
  }
  
}

.closePopup {
  border:1px dashed #c9c9c9;
  text-align:center;
  padding:10px;
  margin-bottom:10px;
  color:#979797;
  
  @media print {
    display:none;
  }        
}

#PaymentCalculator {
   .headerContent {
    background:#f5f5f5;
    padding:10px 0px;
    color:#6f6f6f;
    margin-bottom:10px;
    
    h1 {
      font-weight:bold; margin:0px;
      
    } 
  }
  
}

.MotorSportShoppingTools {
  background: #c30000;
}

.HarleyColorShoppingTools {
  background:#ff6c00;
}

.IndianColorShoppingTools {
  background:#850029; 
}

.motorsportBtn {
  background: #c30000;
  
  &:hover {
    background: #860404;
  }
  
}

.harleyBtn {
  background:#ff6c00;
  
  &:hover {
    background: #cc5600;
  }
}

.indianBtn {
  background:#850029;
  
  &:hover {
    background: $indianColorHover;
  }
}


label {
  display:block; 
  font-weight: normal;
 }
 .ais-refinement-list--checkbox {
   width: 20px; 
   height: 20px; 
   margin: 0px 4px 0px 0px !important; 
   float: left;
}
.ais-refinement-list--count {
  background: #f9f9f9; 
  padding: 0px 6px; 
  color: #777777; 
  font-weight:bold;
  position: absolute;
  right: 0px;
}
.ais-search-box  {
  input {
    width: 100%;
    padding: 5px 2px;
    border-radius: 4px;
    border: 1px solid #cecece;  
  }
  
}

.ais-pagination--item {
  a:link {
    padding:10px;     border: 1px solid #eaeaea;
  }
}

.ais-pagination--item__disabled {
  display:none;
}

.ais-pagination--item__active {
  a:link {
    background: #e6e6e6;
  }
}

.ais-pagination--item__page {
  @media screen and (max-width:992px) {
    display:none;
  }
}

.ais-pagination--item__active {
  @media screen and (max-width:992px) {
    display:inline-block !important;
  }
}

.ais-pagination--item__next, .ais-pagination--item__last, .ais-pagination--item__previous, .ais-pagination--item__first {
  a:link {
    @media screen and (max-width:992px) {
      padding: 10px 15px;
    }  
  }
}

.ais-refinement-list--item {
  position: relative;
}

.ais-refinement-list--label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%; 
}

.ais-stats--time {
  display:none;
}

#sort-by-container {
  select {
    padding:5px; width:100%
  }
}

.InventoryPopupLoader {
  position: fixed;
  display:none;
  top: 110px;
  left: 50%;
  padding: 10px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 6px #000;
  margin-left: -26px;
  margin-top: -26px;
  z-index: 999;
}

#CurrentInventoryListThreeByThree {
  .ais-hits--item {
    width: 33.33333333%;
    display: inline-block;
    vertical-align: top;
    
     @media (max-width: 992px) {
      display:block;
      width:100%; 
     }
    
  }
}
