@import "variables";
@import "mixins";


.PhotoAlbumElementEmpty {
  background: #f7f7f7;
  position:relative;
  border: 5px solid white;
  box-shadow: 0px 2px 1px #dedede;
  
  .indicator {
    text-align: center;
    padding: 71px 10px;
  }
  
  .albumName {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 7px;
    background: rgba(0,0,0,0.25); 

    font-size: 16px;
    color: white;
    display:none;
  }
  
  &:hover .albumName {
    display:block
  }
  
}

.PhotoAlbumElement {
  position:relative;
  border: 5px solid white;
  box-shadow: 0px 2px 1px #dedede;
  height: 220px;
  overflow: hidden;
  
  img {
    
  }
     
    
    
  

  

}



.albumName {
  font-size: 16px;
  color: #979797;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 15px;
}


.photoSingle {
  height:215px;
  width:215px; 
  float:left;
  margin-bottom: 13px;
  margin-right: 6.5px;
  margin-left: 6.5px;
  position: relative;
  overflow: hidden;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
    
  @media screen and (max-width:680px) {
    height: 138px;
    width: 138px;
  }
    
    
}
#PhotosContent {
  @media screen and (max-width:680px) {
      display: table;
      margin: 0 auto;
      width: 605px;
  }
  
  @media screen and (max-width:660px) {
    display: table;
    margin: 0 auto;
    width: 455px;
  }
  
  @media screen and (max-width:530px) {
    display: table;
    margin: 0 auto 30px auto;
    width: 305px;
  }
}


.YearElement {
  display: inline-block;
  width: 16.3%;
  vertical-align: top;
  margin-bottom: 20px;
  background: #f1fdff;
  min-height: 125px;
  border-radius: 3px;
  
  @media screen and (max-width:1000px) {
    width: 19.5%;
  }
  
  @media screen and (max-width:680px) {
    width: 32%;
  }
  
  @media screen and (max-width:480px) {
    width: 49%;
  }
}


@-webkit-keyframes fadeInUp{
  0% {
    opacity:0;-webkit-transform:translateY(10px)
  }
  
  100% {
    opacity:1;-webkit-transform:translateY(0)
  }
}

.emptyYearThumb {
  text-align:center; 
  margin-bottom:10px;    
  margin-top: 35px;
}

@-moz-keyframes fadeInUp{0%{opacity:0;-moz-transform:translateY(20px)}100%{opacity:1;-moz-transform:translateY(0)}}
@-o-keyframes fadeInUp{0%{opacity:0;-o-transform:translateY(20px)}100%{opacity:1;-o-transform:translateY(0)}}
@keyframes fadeInUp{0%{opacity:0;transform:translateY(20px)}100%{opacity:1;transform:translateY(0)}}

#PhotoAlbumMain {
  height: 550px;
  position: relative;
  background-size: cover !important;
  
  @media screen and (max-width:1100px) {
    height: 330px;
  }
  
  @media screen and (max-width:680px) {
    height: 200px;
  }
  
  .placementPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -34px;
  }
}

.AlbumName {
    position: absolute;
    background: rgba(0,0,0,0.62);
    bottom: 0px;
    width: 100%;
    
    .content {
      color: white;
      font-weight: bold;
      font-size: 20px;
      padding: 15px 0px;
    }
   
  }
.YearPhotoSection {
  
  .yearImage {
    background:black;
    text-align:center;  
    padding: 70px 0px;
  }
  
  .noYearImage {
    background:#f9f9f9;
    text-align:center;  
    padding: 70px 0px;
  }
  
}
