@import "variables";
@import "mixins";

#RewardsImage {
  background:black;
  text-align: center;
  
  img {
    margin: 50px auto;
    max-width: 100%;
  }
}

.PageSection {
  margin-bottom: 20px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  
  ul {
    margin-left: 20px;
    margin-top: 20px;
  }
}

.secondarHeader {
  font-size:24px; 
  font-weight:bold;
  margin-bottom: 5px;
}

.MoreThanRewardsLoginAccount {
  position: fixed;
  top: 50%;
  left: 50%;
  width:610px;
  height: 230px;
  margin-left: -305px;
  margin-top: -125px;
  display:none;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius:5px;
  -webkit-border-radius:5px;  
  -moz-border-radius:5px;
  
  @media screen and (max-width:680px) {
    top: 0px;
    margin-top:0px;
    z-index: 9;
    width: 100%;
    left: 0px;
    margin-left: 0px;
    height: 100%;
    background: black;
    border-radius:0px;
    -webkit-border-radius:0px;  
    -moz-border-radius:0px;
  }
  
  
  .loginAccountTab {
    background: #c30000;
    
    padding: 10px;
    border-top-right-radius: 5px;
    -wekbit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;       
    float: left;
    
    img {
      width: 22px;
    }
    
  }  
  .closeLogin {
    background: #c30000;
    position: absolute;
    right: 5px;
    color: white;
    padding: 8px 10px;
    z-index: 99;
    top: 5px;
    
    @media screen and (max-width:680px) {
      top: 0px;
      left: 0px;
      text-align: center;
      right: 0px;
      padding: 8px 0px;
    }
    
  }
  
  
  .LoginContent {
    
    position: absolute;
    
    @media screen and (max-width:680px) {
      left: 0px;
      right: 0px;
    }
    
    iframe  {
      width:600px;
      height:220px;
      
      @media screen and (max-width:680px) {
        width: 100%;
        padding-top: 40px;
        height: 450px;
      }
    }
    
  }
}


.LoginButton {
    color: #c30000;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    font-size: 24px;
    border: 1px solid #c30000;
    margin-top:20px;
    transition:.3s all;
    
    &:hover {
      color: white;
      background:#c30000
    }
    
}

.Disclaimer {
  background:#f7f7f7;
  font-size:14px;
  padding: 15px 0px;
}

