@import "variables";
@import "mixins";

#TopServicePage {
  .HalfSection {
    width:50%;
    float:left;
    
    @media screen and (max-width:1380px) {
      width:100%;
      float:none;
    }
  }
  
  .EntryServiceDeptText {
    padding:120px 150px 0px 150px;
    
    @media screen and (max-width:1600px) {padding:80px 150px 0px 150px;}
    
    @media screen and (max-width:1450px) {padding:50px 150px 0px 150px;}
    
    @media screen and (max-width:1380px) {padding:20px 150px 40px 150px;}
    
    @media screen and (max-width:1200px) {padding:20px 80px 40px 80px;}
    
    @media screen and (max-width:680px) {padding:20px 15px 40px 15px;}
  }
  
  
  .ServiceDeptPicture {
    background:url(../images/ServiceImage.jpg) no-repeat center;
    height:600px;
    background-size:cover;
    
    @media screen and (max-width:1380px) {height:400px;}
  }
  
}

.ServiceButtonContainer {
  padding:10px 0px 0px 0px;
  text-align:center;
}

h2 {
  color: #979797;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

.formHeader {
  margin:15px 0px;
  position:relative;
  
  .text {
    font-size:24px;
    color:#979797;  
    background:white;
    padding-right:10px;
    position: relative;
    z-index: 1;
    float: left;
  }
  
  
  
  
  .divider {
    border-bottom: 1px solid #efefef;
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    margin-top: 3px;
  }
  
}


.privacyRow {
  margin-bottom:20px;
}

#ServiceDeptFormContent {
  display:none;
}
