@import "variables";
@import "mixins";


.CategoryLinks {
  a:link {
    color:black;
  }
}

.categorySingleLink {
  padding:10px 0px;
  border-bottom:1px solid #cecece;
  
  &:hover {
    border-bottom:1px solid #3366cc;
  }
}

.productItemSingle {
  position:relative;
  margin-bottom: 25px;
  
  .productImage {
    height:370px;
    width: 100%;
    background-size: cover !important;
    border:1px solid #eaeaea;
    box-shadow: 0px 3px 1px #cecece;
    -webkit-box-shadow: 0px 3px 1px #cecece;
    -moz-box-shadow: 0px 3px 1px #cecece;
  }
  
  .priceSingle {
    position:absolute;
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    left: 1px;
    top: 20px;
    font-weight: bold;
    color: white;
  }
  
  .productName {
    background: rgba(0, 0, 0, 0.41);
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 1px;
    text-align: center;
    padding: 10px 0px;
    left: 1px;
    right: 1px;
  }
  
  .HarleyPrice {
    background:$harleyColor;
  }
  
}

.TopEcommercePage {
  background:#f7f7f7;
  border-bottom:1px solid #e7e7e7;
  margin-bottom:25px;
  
  @media screen and (max-width:998px) {
    padding-bottom:15px;
  }
  
  
  .ContentHeader {
    margin:0px;
    
    h1 {
      margin:20px 0px;  
    }
  }
  
}

#ProductSinglePage {
  .productSingleHeader {
    padding:15px 0px;
  }
  
  .ProductSingleWrapper {
    background:#f7f7f7;
    padding-bottom: 20px;
  }
  
  .my-gallery {
    background:white;
    border:1px solid #cdcdcd;
    background:white;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0px 0px 8px #bbb;
    -webkit-box-shadow: 0px 0px 8px #bbb;
    -moz-box-shadow: 0px 0px 8px #bbb;
    
     @media (max-width: 680px) {
      margin-bottom:15px; 
     }
    
  }
  
  
  .cartAddedMesseage {
    border: 1px solid #1b9000;
    color: #1b9000;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  
  
  .productSingleHeader {
    h1 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
  
  .productPhotoMain {
    .imageObj {
      height:450px;
      background-size: contain !important;
      border-bottom: 1px solid #cdcdcd;
      
      @media (max-width: 680px) {
        height:230px;
      }
     }
    
    img {
      visibility:hidden;
      width:100%
    }
  }
  
  .priceContainer {
    margin-bottom:15px;
    
    .pricing {
      color:#1b9000;
      font-weight:bold;
    }  
  }
  
  
  
  .productDescription {
    
  }
  
  .dropDownOption {
    margin:5px 0px; 
    
    select {
      width:100%;
      padding: 5px;
    }
    
  }
  
  .AddToCartButton {
    margin:15px 0px 10px 0px;
    color:white;
    text-align:center;
    width:100%;
    border: none;
  }
  
  .OtherProductPhotos {
    float: left;
    margin-right: 10px;
    width: 100px;
    
    img {
      width: 100%;
    }
  }
  
  
}

.ShoppingAccountLinks {
  float: right;
  margin-top: 25px;
 
  .whiteButton {
    font-size: 16px;
    padding: 10px 20px;
    background: white;
    border: 1px solid #eaeaea;
    float: left;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-weight:bold;
    margin-left:10px;
    
    @media screen and (max-width:998px) {
      margin-left:0px;
      margin-right:10px;
    }
    
  }
 
   
  @media screen and (max-width:998px) {
    float:none;
    margin-top: 5px;
  }
  
  a {
    color:black;  
  }
  
}

#CreateCredentialsForm {
  
  #SavedForm {
    border: 1px solid #1b9000;
    padding: 10px;
    color: #1b9000;
    text-align: center;
    margin-top: 20px;
    display:none;
  }
  
  .FormContainer {
    width: 430px;
    margin: 0 auto;
    
    @media screen and (max-width:680px) {
      width: 100%;  
      margin-bottom:20px;
    }
    
    
    .logo {
      text-align:center;
      img {
        width:260px;
      }
    }    
    
    .header {
      color: #c8c8c8;
      font-size:30px;
      margin: 11px 0px;
    }
    
    
    .blueButton {
      color:white; 
      background: #1e5fa8; 
      text-align:center; 
      padding:10px;
      border:none;
      width:100%;
      
      &:hover {
        background: #0d3d73;
      }
    }
    
  }
}

.errorMessageText {
  color:#c30000
}

#SignUpPage {
  margin-bottom: 20px;
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0px;
  }
  
  h2 {
    color: #c8c8c8;
    margin: 15px 0px;
    font-size: 20px;
  }
  
  .checkoutButton {
    background: #ff0000;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 15px;
    border: none;
    
    &:hover {
      background: #b70000;
    }
  }
  
}

.inputItem {
  margin-bottom: 10px;
      
  .inputLabel {
    margin-bottom: 5px;    
  }
      
  input {
    width: 100%;
    padding: 5px 2px 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #cecece;
  }
  
  select {
    padding: 6px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  }
}

.accountTabs {
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;

  margin-top:10px;
  
  .tabSingle {
    padding:10px 15px;
    border-right: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    float: left;
    background: white;
    margin-bottom: -1px;
    position:relative;
    
    .selectedIndicator {
      position: absolute;
      top: 0px;
      height: 4px;
      width: 100%;
      background: black;
      left: 0px;
      right: 0px;
    }
    
  }
  
}

.mobileCategoryDropDown {
  display:none;
  padding:10px 0px;
  
  select {
    width: 100%;
    padding: 10px;
  }
  
  @media (max-width: 992px) {
    display:block;
  }
  
}


.desktopCategoryList {
  @media (max-width: 992px) {
    display:none;
  }
}

.productSingleElement {
  width:25%; 
  padding:0px 15px; 
  float: left;
  
  
  @media (max-width: 1350px) {
    width:50%;   
  }
  
  @media (max-width: 680px) {
    width:100%;   
    float:none;
  }
  
}

.reviewsHeader {
  color: #c8c8c8;
  margin: 20px 0px 15px 0px;
}

.AddReviewButton {
  background: #ffde31;
  color: white;
  float: left;
  padding: 10px 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  margin-top: -4px;
  margin-right: 10px;
}

.reviewText {
  min-height:150px
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
  margin-bottom:0px;
 
  @media (max-width: 680px) {
    font-size: 25px;
    margin-top: -10px;
  }
 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

#AddReviewForm {
  display:none;
  .addreviewOverlay {
    background: rgba(255, 255, 255, 0.71);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
  }
  
  .AddReviewForm {
    background: white;
    width: 460px;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    margin-left: -230px;
    margin-top:-265px;
    box-shadow: 0px 0px 14px 26px white;
    -webkit-box-shadow: 0px 0px 14px 26px white;
    -moz-box-shadow: 0px 0px 14px 26px white;
    height: 530px;
    
    @media (max-width: 680px) {
      width: 100%;
      margin-left: 0px;
      margin-top: 0px;
      top: 0px;
      left: 0px;
      height:auto;
    }
    
    
    
    .addReviewHeader {
      font-size:20px;
      padding:10px;
      color: #c8c8c8;
      position:relative;
      
      i {
        position:absolute;
        right:10px;
      }
    }
    
    .formContent {
      padding:10px;
      
      .SaveReviewButton {
        background: #0775d6;
        color: white;
        border: none;
        padding: 5px 10px;
        
        &:hover {
          background: #044986;
        }
      }
      
    }
    
  }
  
}

.ReviewConversationBubble {
  background:#f9f9f9;
  padding:10px; 
  position:relative;
  margin-bottom:20px;
 
  .conversationCarot {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #f9f9f9;
    position: absolute;
  }
  
}

.reviewedByName {
  margin-bottom:25px;
}
.starRating {
  display:inline-block;
    
    .starEmpty {
      color: #ddd;
      float: right;
      margin-bottom: 0px;
      
      &:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
      }
      
    }
    
    .starFull {
      color: #FFD700;
      float: right;
      margin-bottom: 0px;
      
      &:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
      }
    }
    
    .starHalfFull {
      color: #FFD700;
      float: right;
      margin-bottom: 0px;
      
      &:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f089";
        position: absolute;
      }
    }
}

.facebookShare, .twitterShare, .pinButton {
    float: left;
    margin-right: 10px;
}

.searchLink {
  input {
    width: 100%;
    padding: 5px 2px;
    border-radius: 4px;
    border: 1px solid #cecece;
  }
}



