@import "variables";
@import "mixins";

.PageContent {
  margin-bottom:10px;
  
  .pageSection {
    margin:10px 0px;
  }
  
  .Indent {
    margin-left:20px;
  }
}



.header {
  font-weight:bold;
}


