@import "variables";
@import "mixins";

.specialsImageContainer {
  
  
  
  
  .ImageElement {
    height: 270px;
    width:100%;
    overflow:hidden;
    
    img {
      opacity:0;
    }
    
  }
  .specialInfo {
    position: absolute;
    bottom: 0px;
    right: 5px;
    background: #f7f7f7;
    padding: 5px 10px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    color:black;
    
  }
}

.ContactButton {
  margin:0px 0px 0px 10px;
  float:left;
}

.MotorSportContact {
  background:red;
}

.HarleyContact {
  background:#ff6c00;
}

.IndianContact {
  background:#850029;
  
  &:hover {
    background:#520019;
  }
}

.SpecialMainImage {
  background:#f7f7f7;
  margin-top:20px;
  
  img {
    width:100%
  }
  
}

.incentivesContainer {
  position:relative;
  margin-bottom: 35px;
  
  .IncentiveSingleHeader {
    background:#e3ffdd;
    border:1px solid #a1d896;
    text-align:center;
    padding:10px;
    
    h2 {
      color:#1b9000;  
      font-size: 24px;
      margin:0px;
      font-weight:bold;
    }
    
  }
  
  .arrowLeft {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #a1d896; 
    float:left;
  }
  
  .arrowRight {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #a1d896;
    position: absolute;
    top: 0px;
    right: 15px;
  }
  
  .IncentiveContent {
    background:#ffffff;
    margin-left: 25px;
    margin-right: 25px;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    box-shadow: 0px 6px 8px -5px #ccc;
    -moz-box-shadow: 0px 6px 8px -5px #ccc;
    -webkit-box-shadow: 0px 6px 8px -5px #ccc;
    
    .content {
      padding:10px;
    }
  }
  
  
}

.incentiveContent {
  display:none;
  margin:10px;  
  
  @media screen and (max-width:1200px) {
    margin-left: 20px;
  }
  
  img {
    margin-bottom:10px;
  }
  
}


.toggleButton {
  color: #0290c8;
  font-weight: bold;
  position: relative;
  z-index: 1;
  font-size: 20px;
  margin-top: -5px;
  width: 20px;
  text-align: center;
  background:#ffffff;
}
.inventoryName {
  margin-left: 20px;
  padding-right:10px; 
  background:#ffffff; 
  position:relative; 
  z-index:9; 
  color:black;
  float: left;
  margin-top: -23px;
}

.specialInventoryList {
  
  @media screen and (max-width:1200px) {
    margin-left: 0px;
  }   
  
}

.inventoryInfo {
  table {
    border-collapse:collapse;
    
    td {
      padding-right:10px;  
    }
  }
  
  .viewInventory {
    float: left;
    margin-top: 10px;
    background: #0290c8;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    
    &:hover {
      background: #02638a;
    }
    
  }
  
}
    
.IncentiveHeader {
  font-size:24px; 
  margin-bottom:0px;     
  color: #828282;
  font-weight: bold;
  margin-top:0px;
  
  @media screen and (max-width:1200px) {
    font-size: 16px;
  }
  
  
}

.inventoryDivider {
  border-bottom: 1px solid #e8e8e8; 
  position: absolute; 
  top: 12px;
  left:20px; 
  right:0px;
  
  @media screen and (max-width:1200px) {
    right: 20px;
  }
  
}

.expiredDate {
  float: left;
  border-left: 1px solid #cecece;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 3px;

  @media screen and (max-width:1200px) {
    margin-top: 17px;
  }    
    
}

.storeImage {
  text-align:center;
  padding:10px 0px;
  
  img {
    width:160px
  }
  
}

.ViewInventoryButton {
  float: left;
  margin-top: 10px;
  background: #0290c8;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
}

.specialSingleElement {
  margin-bottom: 40px;
  
  
  .FullBar {
    width:100%
  }
  
  .HalfBar {
    width:50%;
    float:left;
  }
  
  .ThirdBar {
    width: 33.33333333%;
    float:left;
  }
  
  
  .MotorSportIndicator {
    height:5px;
    background:$motorSportColor;
  }
  
  .HarleyIndicator {
    height:5px;
    background:$harleyColor;
  }
  
  .IndianIndicator {
    height:5px;
    background:$indianColor;
  }
  
  .specialCategoryElement {
    text-align:center;
    padding-bottom: 10px;
    
    img {
      margin-bottom:10px;
    }
    
    .text {
      color:black;
    }
  }
  
  .specialsImageContainer {
    position:relative;
    overflow:hidden;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    
    .blackBackground {
      background: rgba(0, 0, 0, 0.47);
      padding:10px 0px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      
      .specialName {
        font-size:20px; font-weight:bold;
        color:white; padding:0px 10px;
      }
      
      .expDate {
        color:white;
        padding:10px 10px 0px 10px;
        
      }
      
    }
    
  }
  
  .specialItemButtonContainer {
    background:#f7f7f7;
    padding:10px;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
  }
  
}


