@import "variables";
@import "mixins";


.EmployeeSingle {
  width: 16.66666667%;
  padding-right: 15px;
  padding-left: 15px;
  float:left;
  margin-bottom: 30px;
  
  @media (max-width: 1200px) {
    width: 33.33333333%;
  }
  @media (max-width: 680px) {
    width: 50%;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .image {
    width:165px;
    height:165px;
    background-size: cover !important;
    margin: 0 auto;
  }
  
  .Name {
    color:white;
    text-align:center;
    margin-top: 5px;
    font-size: 20px;
  }
  .title {
    color:white;
    text-align:center;
  }
  
  .email {
    text-align:center;
    margin-top: 13px;
    
    img {
      width:30px
    }
  }
  
}

.employeeHeader {
  text-align:center;
  color:white;
  font-size: 26px;
  margin-bottom: 20px;
}

.buttonContainer {
  margin-top:0px;
  
  .element {
        display: table;
    margin: 0 auto;
    width: auto;
  }
}

.SpecialImage {
  position:relative; 
  margin-bottom:10px;
  background-size: cover !important;
  height: 180px;
  
  .specialTitle {
    position:absolute; bottom:0px; left:0px; right:0px;
    padding:10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+100&0+0,1+99 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    font-size: 24px;
    color: white;

    
  }
}

.categoryHeader {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  margin: 10px 0px;
  font-weight: bold;
}

.VehicleSingle {
  padding: 5px 0px;
      
  .title {
    position:relative;
    font-weight:bold;
    font-size:20px;
    
    .text {
      background:white; 
      padding-right:5px;
      position:relative;
      z-index:1;
      float: left;
      
      .expandIndicator {
        float: left;
        width: 25px;
        text-align: center;
        color: #3366cc;
      }
      
    }
    .divider {
      position: absolute;
      left: 0px;
      right: 0px;
      border-bottom: 1px solid #cecece;
      top: 50%;
      margin-top: 1px;
    }
  }
  
  .content {
    margin: 5px 0px;
    display:none;
    
    .Description {
      margin-top:10px;
    }
    
    .disclaimer {
      font-size: 10px;
      margin-top: 7px;
    }    
  }

  
}

.MainSpecialImage {
  position:relative;
  margin-bottom: 15px;
  background-size: cover !important;
  height: 540px;
  background-position: center !important;
  
  .MainSpecialTitle {
    position:absolute; 
    bottom:0px;    
    left: 0px;
    padding:10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+100&0+0,1+99 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    font-size: 30px;
    color: white;
    right: 0px;
    font-family: 'Oswald', sans-serif;
  }
}
