@import "variables";
@import "mixins";

* {margin:0; padding:0;}

.grayBackground {
  background:#f7f7f7;
}

body {
  font-family: "acumin-pro-semi-condensed";
      font-size: 16px;
}

.bodyNoScroll {
  overflow: hidden;
}

.BreadCrumbContainer {
  margin:15px 0px 20px 0px;
}

.PageHeader {
  h2 {
    font-size:24px;
    margin-bottom:10px;  
    
  }
  
}

.SubHeader {
  margin:20px 0px;
  
  h2 {
    color:#979797;
    font-weight:bold;    
    font-size:24px;
    margin:0px;
  }
}


.headerPush {
  height: 70px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  
  
  .Quicklinks {
    background: #ffffff;
    position: fixed;
    top: 85px;
    right: 15px;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 8px #d4d4d4;
    -webkit-box-shadow: 0px 0px 8px #d4d4d4;
    -moz-box-shadow: 0px 0px 8px #d4d4d4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding:10px;
    width: 440px;
    
    @media screen and (max-width:680px) {
      left: 15px;
      width: auto;
    }
    
    .NeedMoreWheelsText {
      display:table-cell; font-size: 20px; font-weight: bold;
      
      @media screen and (max-width:680px) {
        font-size: 16px;
      }
      
    }
    
    .Section {
      width: 100%;
      
      .borderBottm {
        border-bottom:1px solid #e8e8e8
      }
      
      .quickLinkHeader {
        font-size:20px;
        font-weight:bold;
        border-bottom:1px solid #a5a5a5;
        padding:0px 20px 10px 0px;
        margin-bottom: 5px;
        
        @media screen and (max-width:680px) {
          font-size:16px;
        }
        
      }
      
       a {
          color:black;
        }
      
      .quickLink {
        padding:10px;
      
      }
      
      .HarleyQuickLink {
        border-left:10px solid $harleyColor;
        
        &:hover {
          border-left:10px solid $harleyColorHover;
        }
      }
      
      .MotorSportQuickLink {
        border-left:10px solid $motorSportColor;
        
        &:hover {
          border-left:10px solid $motorSportColorHover;
        }
      }
      
      .IndianQuickLink {
        border-left:10px solid $indianColor;
        
        &:hover {
          border-left:10px solid $indianColorHover;
        }
      }
      
    }
  }
  
  .MainMenuColor {
    background: #000;
    padding:20px 0px;  
    transition: .3s ease-in;
  }
  
  .mainMenuFixed {
    position:fixed;
    z-index:9999;
    width: 100%;
    background: white;
  }

  .Logo {
    
    img {
      width:170px;  
      margin-left: 43px;
      margin-top: -8px;
      
      @media screen and (max-width:680px) {
        width: 130px;
        margin-left: 44px;
        margin-top: -7px;
      }
      
      
    }
  }
  
  .toggle-button {
    position: fixed;
    width: 37px;
    height: 40px;
    top: 25px;
    left: 26px;
    padding: 4px;
    transition: .25s;
    z-index: 9999;
    float: left;
    cursor:pointer;
    
    @media screen and (max-width:680px) {
      left: 15px;
      top: 22px;
    }
    
   .menu-bar {
     position: absolute;
     width: 80%;
     transition: .5s;
   }
    
    
   .menu-bar-top {
    border: 4px solid white;
    border-bottom: none;
    top: 0;
    transform: rotate(45deg) translate(5px, 10px);
    width: 65%;
   }
    
   .menu-bar-middle {
    height: 4px;
    background-color: white;
    margin-top: 7px;
    margin-bottom: 5px;
    top: 4px;
   }
  
  
   .menu-bar-bottom {
      border: 4px solid white;
      border-top: none;
      top: 22px;
      transform: rotate(-45deg) translate(16px, 0px);
      width: 65%;
    }
    
  }

  .menu-sidebar {
    margin-top: 75px;
    position: relative;
    top: 70px;
  }
  
  .menu-show {
    margin-left: -30px !important;
    box-shadow: 4px 2px 4px 1px #252525;
  }
  
  
  
  .button-open {
    
    @media screen and (max-width:680px) {
      left: 15px;
    }
    
    
    .menu-bar-top {
      border-color: #000;
      transform: rotate(45deg) translate(8px, 8px);
      transition: .5s;
          width: 80%;
    }

    .menu-bar-middle {
      background-color: #fff;
      transform: translate(230px);
      transition: .1s ease-in;
      opacity: 0;
    }

    .menu-bar-bottom {
      border-color: #000;
      transform: rotate(-45deg) translate(7px, -7px);
      transition: .5s;
          width: 80%;
    }
    
  }
  a:link, a:visited {
    color:white;
  }
      
  .link {
    padding: 15px;
    font-size: 16px;
    color: #ffffff;
    float: left;
    
    &:hover {
      background: #cccccc;
      color:#6d6d6d
    }
    
  }     
    
    
  .RightMenu {
   
    .item {
      float:right
    }
    
    .wrapperContainer {
      padding: 12px 14px;
      @media screen and (max-width:680px) {
        padding: 7px 4px 7px 14px;
      }
      
    }
    
    .YourAccountLink {
      color: white;
      font-size: 20px;
      border-right: 1px solid white;
      padding: 3px 10px 3px 0px;
    }
    
    .CartCountElement {
      padding-right: 10px;
      
      img {
        margin-top:-10px;
        
        @media screen and (max-width:680px) {
          width: 30px;
          margin-top: 0px;
        }
        
      }
      
      
      
      
      #CartCount {
        font-weight: bold;
        font-size: 24px;
        
        @media screen and (max-width:680px) {
          font-size: 20px;
        }
      }  
    }
    
    
    
    
    img {
      margin-left:10px;
      
      @media screen and (max-width:680px) {
        margin-top:-10px; 
      }
    }    
    
    a.ViewInventory {
     
    }
    
     .arrowRight {
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 10px solid #fff;  
        
      @media screen and (max-width:680px) {
        margin-top: 5px;
      }
        
     }
    
    a:link {
      text-decoration:none;
    }
  }
    
}

.slidePanel {
  color: #fff;
  background: #464646;
  z-index: 9;
  width: 380px !important;
      
   
}

.footerPush {
  height:55px;
  
  @media screen and (max-width:1200px) {
    height:0px;
  }
}

footer {
  background:black;
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  color:white;
  padding: 10px 0px;
  z-index: 99;
  
  @media screen and (max-width:1200px) {
    position:static;
  }
  
  
  .copyRight {
    margin-top: 6px;
    
   
    
  }
  
  .socialLinks {
    text-align:center;
    @media screen and (max-width:1200px) {
      margin:15px 0px 5px 0px;
    }
    
    img {
      margin:0px 5px;
       
    }
  }
  
  .footerRightContent {
    float: right;
    
    @media screen and (max-width:1200px) {
      float:none;
      text-align:center; 
      margin-top: 25px;
      margin-bottom: 5px;
    }
    
    img {
      margin-left:7px;
      
    }
    
  }
      
  
}

.ContentHeader {
  font-family: 'Oswald', sans-serif;
  margin: 0px 0px 10px 0px;
  
  h1 {
    font-size: 40px;
    font-weight: bold;  
    color:#c30000;    
    
    @media screen and (max-width:1200px) {
       font-size: 20px;
    }
    
  }
  
  h2 {
    font-size: 30px !important;
    font-weight: bold;  
    color:#979797;    
  }
  
  
}

#SlideShow {
  background:url('../images/DillonMotor.jpg') no-repeat center;

  background-size: cover;
  padding: 150px 0px;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  
  @media screen and (max-width:1200px) {
    padding: 80px 0px;
    font-size: 35px;
  }
    
  
  
}

.blueButton {
  border:none;
  background: #3366cc;
  padding: 8px 10px;
  color: white;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  
  &:hover {
    background: #204ba2;
  }
}

.redButton {
  background:$motorSportColor;
  color:white;
  transition:all .5s;
  padding: 8px 10px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border:none;
      
  &:hover {
    background: #860404;
  }
}


.maroonButton {
  background:$indianColor;
  color:white;
  transition:all .5s;
  padding: 8px 10px;
  @include border-radius(5px);
      
  &:hover {
    background: $indianColorHover;
  }
}

.input {
  margin-bottom:10px;
  
  .required {
    color:#c30000
  }
  .inputLabel {
    font-weight:bold;
    margin-bottom:5px;
  }
  
  input, textarea {
    width:100%;
    border: 1px solid #dcdcdc;
    padding: 3px;
  }
}


.orangeButton {
  background:#ff6c00;
  color:white;
  padding:13px;
  @include border-radius(5px);
  float: left;
  transition:all .5s;
  
  &:hover {
    background: #964001;
  }
}


.Overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
 
  z-index: 9;
}

#TextClubPopupContent {
  display:none;
}


#ScrollUpToPage {
  background: rgba(64, 64, 64, 0.57);
  padding: 22px 20px 24px 21px;
  bottom: 190px;
  right: 30px;
  position: fixed;
  border-radius: 31px;
  -wekbit-border-radius: 31px;
  -moz-border-radius: 31px;
  box-shadow: 0px 2px 4px #b3b3b3;
  
  @media screen and (max-width:680px) {
    display:none !Important
    
  }
  
  
  .arrowUp {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #ffffff;
  }
}

.ColumnRight {
  text-align:right
}

.inputLine {
  margin-bottom:10px;
  
  .requiredIndicator {
    color:#c30000;
  }
  .inputLabel {
    font-weight:bold;
    margin-bottom:5px;
  }
  
  input[type='text'], textarea, select {
    width:100%;
    border:1px solid #e2e2e2;
    padding: 5px;
    color: #7d7d7d;
  }
}

#ecommerceLoadingObject {
  position:fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  text-align: center;
  display:none;
  
  .processingText {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    padding-bottom: 15px;
    background:white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: -47.5px;
    margin-top: -55px;
    
    .proccessingHeader {
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
    }
    
  }
   
}

.OverLay {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.errorMessage {
  color:#c30000
}

#LoadingSpinnerObject {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 6px #000;
  margin-left: -26px;
  margin-top: -26px;
  display:none;
  z-index: 999;
}

#MobileAccountLink {
  display:none;
  
  @media (max-width: 992px) {
    display:block;
  }
}

#DesktopAccountLink {
  display:block;
    

  @media (max-width: 992px) {
    display:none;
  }
}

.mobilePagination {
  display:none;
  @media screen and (max-width:992px) {
    display:block; 
  }
  
  
  select {
    padding:5px;
    width:100%
  }
}

.paginationObject {
  display:block;
  
  @media screen and (max-width:992px) {
    display:none; 
  }
  
  .pagination-number, .pagination-left {
    float:left; 
  }
  
  .pagination-number {
    color: #337ab7;
    border: 1px solid #eaeaea;
    width: 30px;
    text-align: center;
    padding: 4px 0px;
    border-radius: 5px;
    -wekbit-radius: 5px;
    -moz-radius: 5px;
    margin-right:5px;
    
    @media screen and (max-width:992px) {
      margin-right: 15px;
      margin-bottom:15px;
      width: 40px;
      padding: 8px 0px;
    }
    
    
    &:hover {
      background: #337ab7;
      color: white;
      border: 1px solid #337ab7;
    }
    
  }
  
  .pagination-number-selected {
    background: #e6e6e6;
    color: #909090;
        
    &:hover {
      background: #e6e6e6;
      color: #909090;
      border: 1px solid #eaeaea;          
    }
  }
  
  .pagination-right, .pagination-left {
    color: white;
    background: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 5px;
    -wekbit-radius: 5px;
    -moz-radius: 5px;
    margin-right:5px;
    width: 30px;
    padding: 4px 0px;
    text-align: center;
    float:left;
    
    @media screen and (max-width:992px) {
      margin-right: 15px;
      margin-bottom:15px;
      width: 40px;
      padding: 8px 0px;
    }
    
    
    &:hover {
      background: #1d609a;
      border: 1px solid #1d609a;
    }
    
  }
  
  .pagination-number-ellipse {
    color: #337ab7;
    border: 1px solid white;
    
    &:hover {
      background: white;
      color: #337ab7;
      border: 1px solid white;
    }
    
  }
  
  .linkInactive {
    display:none;
  }
  
}

@-webkit-keyframes fadeInUp{
  0% {
    opacity:0;-webkit-transform:translateY(10px)
  }
  
  100% {
    opacity:1;-webkit-transform:translateY(0)
  }
}

.HarleyButton {
  background:#ff6c00;
  color:white;
        
  &:hover {
    background: #cc5600;
  }
}

.IndianButton {
  background:#850029;
  color:white;
        
  &:hover {
    background: #500019;
  }
}

.buttonSingle {
  display: inline-block;
  margin: 0px 5px;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all .25s;
}

#MainNavigationElement {
  background: rgba(255, 255, 255, 0.95);
  position:fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  
  .container {
    margin-top: 80px;
    position: relative;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .blueNavigationLink {
    background:#3366cc;
    font-weight:bold;
    font-size:16px;
    padding:10px 0px;
    color:white;
    text-align:center;
    margin-bottom: 15px;
    
    &:hover {
      background: #204ba2;
    }
  }
  
  .quickLinkButtonContainer {
    text-align: center;
    margin-top: 10px;
    margin-bottom:30px;
    
    
  }
  

  .ExtraLinkBottom {
    background:white;
    position:fixed;
    bottom:0px;
    left: 0px;
    right: 0px;
    box-shadow: -10px 0px 20px 20px #fff;
    -webkit-box-shadow: -10px 0px 20px 20px #fff;
    -moz-box-shadow: -10px 0px 20px 20px #fff;
    padding: 15px 0px;
    
    .bottomText {
      color: #787878;
      font-size: 16px;
      font-weight: bold;
      margin-left: 10px;
    }
    
  }

  
}

.radioButton {
  @media screen and (max-width:992px) {
    margin-bottom: 15px;
  }
    
  
  input {
    float:left;
    margin: 4px 3px 0px 0px;
  }
}

#SalesChatButton {
  position: fixed;
  bottom: 110px;
  right: 30px;
  
  .popupWindow {
    height: 260px;
    width: 300px;
    position: absolute;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 0px 6px #d8d8d8;
    -webkit-box-shadow: 0px 0px 6px #d8d8d8;
    -moz-box-shadow: 0px 0px 6px #d8d8d8;
    bottom: 70px;
    right: 0px;
  }
  
  
  .circle {
    padding:14px;
    background:#01a1ec;
    border-radius: 31px;
    -wekbit-border-radius: 31px;
    -moz-border-radius: 31px;
    -webkit-box-shadow: 0px 2px 4px #b3b3b3;
    -moz-box-shadow: 0px 2px 4px #b3b3b3;
    box-shadow: 0px 2px 4px #b3b3b3;
  }
  
}

