//colors

$green: #079622;
$darkGreen: #066718;

$blue: #1e5fa8;
$darkBlue: #16477d;

$red: #c30000;

$indianColor: #850029;
$indianColorHover: #500019;

$harleyColor: #ff6c00;
$harleyColorHover: #cc5600;

$motorSportColor: #c30000;
$motorSportColorHover: #ce0000;

$indianColor: #850029;
$indianColorHover: #500019;