@font-face {
    font-family: 'oswaldbold';
    src: url('Oswald/Bold/OswaldBold.eot');
    src: url('Oswald/Bold/OswaldBold.eot?#iefix') format('embedded-opentype'),
         url('Oswald/Bold/OswaldBold.woff2') format('woff2'),
         url('Oswald/Bold/OswaldBold.woff') format('woff'),
         url('Oswald/Bold/OswaldBold.ttf') format('truetype'),
         url('Oswald/Bold/OswaldBold.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('Oswald/Light/OswaldLight.eot');
    src: url('Oswald/Light/OswaldLight.eot?#iefix') format('embedded-opentype'),
         url('Oswald/Light/OswaldLight.woff2') format('woff2'),
         url('Oswald/Light/OswaldLight.woff') format('woff'),
         url('Oswald/Light/OswaldLight.ttf') format('truetype'),
         url('Oswald/Light/OswaldLight.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}