h2{color:#979797;font-weight:bold;font-size:24px;margin:0px}.BrandSingleElement{text-align:center}.BrandSingleElement img{max-width:120px}.partApparelDescription{padding:10px 0px}
/*# sourceMappingURL=BrandController.css.map */
