.ServiceButtonContainer{padding:10px 0px 0px 0px}h2{color:#979797;font-weight:bold;font-size:24px;margin:0px}.formHeader{margin:15px 0px;position:relative}.formHeader .text{font-size:24px;color:#979797;background:white;padding-right:10px;position:relative;z-index:1;float:left}.formHeader .divider{border-bottom:1px solid #efefef;position:absolute;top:50%;left:15px;right:0px;margin-top:3px}.privacyRow{margin-bottom:20px}.whiteButtonElement{background:white;border:1px solid #c6c6c6;margin:10px 0px 0px 0px;padding:10px}.whiteButtonElement:hover{background:#f3f3f3}.additionalCommentText{min-height:200px;width:100%}
/*# sourceMappingURL=DonationController.css.map */
