.newsLetterSingleElement{display:inline-block;width:16.3%;vertical-align:top;margin-bottom:15px}@media screen and (max-width: 1000px){.newsLetterSingleElement{width:19.5%}}@media screen and (max-width: 680px){.newsLetterSingleElement{width:32%}}@media screen and (max-width: 480px){.newsLetterSingleElement{width:49%}}.newsLetterSingleElement .newsLetterLink{text-align:center;padding:10px;background:#f1fdff;border:1px solid #c0f5ff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;min-height:170px}.newsLetterSingleElement .newsLetterLink img{height:90px}.newsLetterSingleElement .newsLetterLink .name{margin-top:5px}.BackgroundGrey{background:#f7f7f7;padding:10px 0px}
/*# sourceMappingURL=NewslettersController.css.map */
